/* Put your style information here! */
body{
    margin: 0;
    padding: 0;
}
p{
    font-size: 1.2rem;
    margin: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    font-weight: 500;
    line-height: 1.2;
}

h5{
    font-weight: 350;
}

/* .container-fluid{
    padding-top: 10px;
    padding-bottom: 10px;
} */

footer{
    text-align: right;
    padding-right: 10px;
    background-color: lightgray;
}

/* img{
    width:100%;
    max-width: 600px;
    height: auto;
    max-height: 300px;
    object-fit: cover;
} */